.header { 
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 128px;
  box-shadow: 0 1px 1px #5c5c5c;
  z-index: 2;
}

.home {
  position: fixed;
  left: 40px;
  top: 16px;
}

.bodymain {
  background-image: url("assets/homepage.jpg");
  background-size: 1920px;
  background-attachment: fixed;
  min-height: 100rem;
}

.bodydragon {
  background-image: url("assets/dragonborn.jpg");
  background-size: 1920px;
  background-attachment: fixed;
  height: 1080px;
  width: 1920px;
  position: absolute;
}

.cartbody {
  background-image: url("assets/jap.web.jpg");
  background-size: 1920px;
  background-attachment: fixed;
  height: 1080px;
  width: 1920px;
  position: absolute;
}

.shopbutton{
  position: fixed;
  top: 32px;
  right: 64px;
}

.profilebutton{ 
  position: fixed;
  top: 32px;
  right: 160px;
}

.shoplist{
  display: grid;
  margin-left: 216px;
  margin-top: 160px;
  margin-right: 216px;
  height: auto;
  width: 1488px;
  grid-template-columns: repeat(3, 1fr);
  z-index: 100;
}

.itemcard{
  width: 440px;
  height: 584px;
  margin-bottom: 80px;
  background-color: #ffffff;
  border: 0px solid #000000;
  border-radius: 24px;
  box-shadow: 
    1px 1px 20px rgb(0, 0, 0),
    -1px -1px 20px rgb(0, 0, 0);
}

.itemimage{
  border-radius: 24px;
}

.itemtext{
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  text-align: center;
  font-family: tech;
  font-size: 2ex;
}

.itemshop{
  height: 792px;
  width: 1680px;
  margin-top: 208px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.itemblock{
  display: flex;
  flex-direction: row;
}

.itemname{
  font-weight: bold;
  font-family: tech;
  font-size: 50px;
  margin-top: 16px;
  margin-left: 120px;
}

.itemprice{
  font-family: tech;
  font-weight: bold;
  font-size: 40px;
  margin-top: 24px;
  margin-left: 120px;
}

.itemdesc{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  font-family: tech;
  font-size: 30px;
}

.buttons{
  margin-left: 120px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}

.radiosize{
  display: inline-block;
	margin-right: 10px;
}

.radiosize input[type=radio] {
	display: none;
}

.radiosize label {
  font-family: w95;
  font-weight: bold;
  font-size: 35px;
	display: inline-block;
	cursor: pointer;
  height: 64px;
  width: 64px;
	padding: 10px;
	line-height: 64px;
  background-color: #c0c5c9;
  box-shadow: 
    2px 2px 0px #000000,
    0px 2px 0px #000000,
    2px 0px 0px #000000,
    -2px -2px 0px #dcdcdc;
	user-select: none;
  text-align: center;
}

.radiosize input[type=radio]:checked + label {
	background: #84898d;
  box-shadow: 
    2px 2px 0px #dcdcdc,
    0px 2px 0px #dcdcdc,
    2px 0px 0px #dcdcdc,
    -2px -2px 0px #000000;
}

.buttonBuy{
  box-shadow: 
    2px 2px 0px #000000,
    0px 2px 0px #000000,
    2px 0px 0px #000000,
    -2px -2px 0px #dcdcdc;
  background  : #c0c5c9;
  margin-left: 240px;
  width: 240px;
  font-family: w95;
  font-weight: bold;
  font-size: 35px;
}

.buttonBuy:hover {
	background: #84898d;
}

.buttonBuy:active {
  box-shadow: 
    2px 2px 0px #dcdcdc,
    0px 2px 0px #dcdcdc,
    2px 0px 0px #dcdcdc,
    -2px -2px 0px #000000;
	background-color: #000080;
}

.backimage{
  margin-top: 120px;
  margin-left: 120px;
}

.binitem{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 216px;
  left: 132px;
  width: 975px;
  height: 160px;
  border: 2px solid #000000;
  z-index: 1;
}

.bintext{
  width: 400px;
  font-family: w95;
  font-size: 48px;
  text-align: center;
  line-height: 5s0px;
}

.binh1{
  margin-top: 24px;
  height: auto ;
}

.binh2{
  height: auto;
}

.binsize{
  width: 280px;
  font-family: w95;
  font-size: 60px;
  text-align: center;
  line-height: 145px;
}

.cancelbutton{
  width: 160px;
  right: 10px;
}

.cancelbutton{
  background-image: url("assets/x.png");
  box-shadow: 
    2px 2px 0px #000000,
    0px 2px 0px #000000,
    2px 0px 0px #000000;
}

.cancelbutton:hover {
	background-image: url("assets/x\ 0.3.jpg");
}

.cancelbutton:active {
  box-shadow: 
    2px 2px 0px #dcdcdc,
    0px 2px 0px #dcdcdc,
    2px 0px 0px #dcdcdc,
    -2px -2px 0px #000000;
  background-image: url("assets/x\ 0.6.jpg");
}

.nextitem{
  position: absolute;
  top: 736px;
  left: 620px;
  width: 487px;
  height: 88px;
  box-shadow: 
  2px 2px 0px #000000,
  0px 2px 0px #000000,
  2px 0px 0px #000000,
  -2px -2px 0px #dcdcdc;
  background  : #c0c5c9;
  font-family: w95;
  font-weight: bold;
  font-size: 55px;
}

.nextitem:hover {
background: #84898d;
}

.nextitem:active {
box-shadow: 
  2px 2px 0px #dcdcdc,
  0px 2px 0px #dcdcdc,
  2px 0px 0px #dcdcdc,
  -2px -2px 0px #000000;
background-color: #000080;
}

.previtem{
  position: absolute;
  top: 736px;
  left: 132px;
  width: 488px;
  height: 88px;
  box-shadow: 
  2px 2px 0px #000000,
  0px 2px 0px #000000,
  2px 0px 0px #000000,
  -2px -2px 0px #dcdcdc;
  background  : #c0c5c9;
  font-family: w95;
  font-weight: bold;
  font-size: 55px;
}

.previtem:hover {
  background: #84898d;
}

.previtem:active {
  box-shadow: 
    2px 2px 0px #dcdcdc,
    0px 2px 0px #dcdcdc,
    2px 0px 0px #dcdcdc,
    -2px -2px 0px #000000;
  background-color: #000080;
}

.buttonOrder{
  box-shadow: 
    2px 2px 0px #000000,
    0px 2px 0px #000000,
    2px 0px 0px #000000,
    -2px -2px 0px #dcdcdc;
  background  : #c0c5c9;
  margin-left: 120px;
  margin-top: 8px;
  width: 480px;
  height: 120px;
  font-family: w95;
  font-weight: bold;
  font-size: 95px;
}

.buttonOrder:hover {
	background: #84898d;
}

.buttonOrder:active {
  box-shadow: 
    2px 2px 0px #dcdcdc,
    0px 2px 0px #dcdcdc,
    2px 0px 0px #dcdcdc,
    -2px -2px 0px #000000;
	background-color: #000080;
}

.order{
  z-index: 99999;
  position: absolute;  
  top: 160px;  
  left: 320px;
  width: 1280px;  
  height: 1300px;  
  background-color: white;  
  border: 1px solid black;  
  padding: 20px; 
}

.shadowmask {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9000;
  height: auto;
}

@font-face {
  font-family: tech;
  src: url(assets/tech.otf);
  font-weight: normal;
}

@font-face {
  font-family: w95;
  src: url(assets/w95.otf);
  font-weight: normal;
}

@font-face {
  font-family: w95;
  src: url(assets/w95b.otf);
  font-weight: bold;
}
